name: Unit Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 22

      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install dependencies for mst-query
        working-directory: ./packages/mst-query
        run: npm install
      
      - name: Run mst-query test
        working-directory: ./packages/mst-query
        run: npm run test

      - name: Install dependencies for mst-query-generator
        working-directory: ./packages/mst-query-generator
        run: npm install
      
      - name: Run mst-query-generator test
        working-directory: ./packages/mst-query-generator
        run: npm run test
